{% overextends "media_includes.html" %}

{% block public_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}schnippjs/styles/schnipp.ui.dialog.css"> 
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}schnippjs/styles/dynforms.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}schnippjs/styles/dynforms/fields.css"> 
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}schnippjs/styles/dynforms/fields/dropdownselect.css"> 
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}schnippjs/styles/dynforms/fields/datepicker.css"> 
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}schnippjs/styles/dynforms/fields/inlines.css"> 
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}schnippjs/styles/dynforms/helptext_visitor.css"> 
{% endblock %}


{% block public_js %}
    {{ block.super }}
    <script type="text/javascript" src="{{STATIC_URL}}schnippjs/src/schnipp.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}schnippjs/src/schnipp/events.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}schnippjs/src/schnipp/net.js"></script>
    <!-- schnipp dynforms -->
    <script type="text/javascript" src="{{STATIC_URL}}schnippjs/src/schnipp/dynforms.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}schnippjs/src/schnipp/dynforms/visitors.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}schnippjs/src/schnipp/dynforms/fields.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}schnippjs/src/schnipp/dynforms/abstract_field.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}schnippjs/src/schnipp/dynforms/abstractselect.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}schnippjs/src/schnipp/dynforms/primitive_field.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}schnippjs/src/schnipp/dynforms/fields/dropdownselect.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}schnippjs/src/schnipp/dynforms/fields/text.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}schnippjs/src/schnipp/dynforms/fields/textarea.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}schnippjs/src/schnipp/dynforms/fields/integer.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}schnippjs/src/schnipp/dynforms/fields/floatingpoint.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}schnippjs/src/schnipp/dynforms/fields/checkbox.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}schnippjs/src/schnipp/dynforms/fields/select.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}schnippjs/src/schnipp/dynforms/fields/color.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}schnippjs/src/schnipp/dynforms/fields/datepicker.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}schnippjs/src/schnipp/dynforms/fields/hiddeninput.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}schnippjs/src/schnipp/dynforms/fields/optionalform.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}schnippjs/src/schnipp/dynforms/fields/form.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}schnippjs/src/schnipp/dynforms/fields/inlines.js"></script>
    
    <!-- schnipp tree -->
    <script type="text/javascript" src="{{STATIC_URL}}schnippjs/src/schnipp/tree.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}schnippjs/src/schnipp/tree/ui.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}schnippjs/src/schnipp/tree/model.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}schnippjs/src/schnipp/tree/ui/jquery.mjs.nestedSortable.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}schnippjs/src/schnipp/tree/ui/nestedsortable.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}schnippjs/src/schnipp/tree/ui/treeview.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}schnippjs/src/schnipp/tree/model/treenode.js"></script>
    
    <!-- schnipp models -->
    <script type="text/javascript" src="{{STATIC_URL}}schnippjs/src/schnipp/models.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}schnippjs/src/schnipp/models/observable.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}schnippjs/src/schnipp/models/entity.js"></script>
    <!-- schnipp ui -->
    <script type="text/javascript" src="{{STATIC_URL}}schnippjs/src/schnipp/ui.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}schnippjs/src/schnipp/ui/dialog.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}schnippjs/src/schnipp/ui/list.js"></script>
{% endblock %}
